body {
  margin: 0;
  font-size: 100%;
  font-family: 'source-han-sans-traditional', 'Noto Sans TC', 'PingFang TC',
    'Apple LiGothic Medium', Roboto, 'Microsoft JhengHei', 'Lucida Grande',
    'Lucida Sans Unicode', sans-serif;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}
